body{
  background-image:url(Stadium.jpg);
  background-position: center;
 background-size: cover;
 background-attachment: fixed;
}
.welcome{
       background:rgba(10,10,255,0.15);
backdrop-filter:blur(10px);
-webkit-backdrop-filter:blur(10px);
border-bottom:1px solid rgba(100,150,255,0.2);
    border-radius:15px;
    width:370px;
    height:160px;
    margin-top:50px;
    justify-content: center;
}
.welcome h1 {
  text-align: center;
  font-family: 'comic sans'arial ;
}
.welcome h4{
  text-align: center;
  color:red;
}
.select{
       background:rgba(100,150,255,0.15);
backdrop-filter:blur(10px);
-webkit-backdrop-filter:blur(10px);
border-bottom:1px solid rgba(100,150,255,0.2);
    border-radius:15px;
    width:370px;
    height:150px;
    margin-top:30px;
}
.select h1{
  text-align: center; 
  color:green;
}
.select h2{
  text-align: center;
  color: rgb(10, 200, 5);
}